body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-496px;
  width:433px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2887 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:131px;
  width:390px;
  height:738px;
}
#u2887_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:738px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2887_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2888_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:738px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2888 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:738px;
  display:flex;
}
#u2888 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2888_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2889_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2889 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:22px;
  width:91px;
  height:22px;
  display:flex;
  font-size:16px;
}
#u2889 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2889_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2890_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:28px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2890 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:65px;
  width:76px;
  height:24px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2890 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2890_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2891_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:28px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2891 {
  border-width:0px;
  position:absolute;
  left:112px;
  top:65px;
  width:76px;
  height:24px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2891 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2891_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2892_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:28px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2892 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:65px;
  width:128px;
  height:24px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
}
#u2892 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2892_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2893_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2893 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:109px;
  width:167px;
  height:22px;
  display:flex;
  font-size:16px;
}
#u2893 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2893_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2894_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
  color:#CCCCCC;
}
#u2894 {
  border-width:0px;
  position:absolute;
  left:133px;
  top:26px;
  width:201px;
  height:14px;
  display:flex;
  font-size:10px;
  color:#CCCCCC;
}
#u2894 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2894_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2895 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:149px;
  width:342px;
  height:250px;
}
#u2895_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:250px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2895_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u2897 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u2898_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:34px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#69707F;
  text-align:left;
}
.u2898 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  display:flex;
  font-size:12px;
  color:#69707F;
  text-align:left;
}
.u2898 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
.u2898_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u2899 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2896-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:24px;
}
#u2896-2 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:0px;
  width:89px;
  height:24px;
}
#u2896-3 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:0px;
  width:121px;
  height:24px;
}
#u2896-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:89px;
  height:24px;
}
#u2896-5 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:44px;
  width:112px;
  height:24px;
}
#u2896-6 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:44px;
  width:121px;
  height:24px;
}
#u2896-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:88px;
  width:89px;
  height:24px;
}
#u2896-8 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:88px;
  width:112px;
  height:24px;
}
#u2896-9 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:88px;
  width:121px;
  height:24px;
}
#u2896-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:132px;
  width:112px;
  height:24px;
}
#u2896-11 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:132px;
  width:112px;
  height:24px;
}
#u2896-12 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:132px;
  width:89px;
  height:24px;
}
#u2896-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:176px;
  width:89px;
  height:24px;
}
#u2896-14 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:176px;
  width:112px;
  height:24px;
}
#u2896-15 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:176px;
  width:121px;
  height:24px;
}
#u2896-16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:220px;
  width:112px;
  height:24px;
}
#u2896-17 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:220px;
  width:121px;
  height:24px;
}
#u2896-18 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:220px;
  width:89px;
  height:24px;
}
#u2896 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:4px;
  width:334px;
  height:244px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u2895_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:342px;
  height:250px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u2895_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u2901 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u2902_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:34px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#69707F;
  text-align:left;
}
.u2902 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:24px;
  display:flex;
  font-size:12px;
  color:#69707F;
  text-align:left;
}
.u2902 .text {
  position:absolute;
  align-self:center;
  padding:2px 12px 2px 12px;
  box-sizing:border-box;
  width:100%;
}
.u2902_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u2903 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2900-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:24px;
}
#u2900-2 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:0px;
  width:89px;
  height:24px;
}
#u2900-3 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:0px;
  width:121px;
  height:24px;
}
#u2900-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:89px;
  height:24px;
}
#u2900-5 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:44px;
  width:112px;
  height:24px;
}
#u2900-6 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:44px;
  width:121px;
  height:24px;
}
#u2900-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:88px;
  width:89px;
  height:24px;
}
#u2900-8 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:88px;
  width:112px;
  height:24px;
}
#u2900-9 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:88px;
  width:121px;
  height:24px;
}
#u2900-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:132px;
  width:112px;
  height:24px;
}
#u2900-11 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:132px;
  width:112px;
  height:24px;
}
#u2900-12 {
  border-width:0px;
  position:absolute;
  left:236px;
  top:132px;
  width:89px;
  height:24px;
}
#u2900-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:176px;
  width:89px;
  height:24px;
}
#u2900-14 {
  border-width:0px;
  position:absolute;
  left:95px;
  top:176px;
  width:112px;
  height:24px;
}
#u2900-15 {
  border-width:0px;
  position:absolute;
  left:213px;
  top:176px;
  width:121px;
  height:24px;
}
#u2900-16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:220px;
  width:112px;
  height:24px;
}
#u2900-17 {
  border-width:0px;
  position:absolute;
  left:118px;
  top:220px;
  width:121px;
  height:24px;
}
#u2900-18 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:220px;
  width:89px;
  height:24px;
}
#u2900 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:4px;
  width:334px;
  height:244px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u2904_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#534AFF;
}
#u2904 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:111px;
  width:51px;
  height:20px;
  display:flex;
  color:#534AFF;
}
#u2904 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2904_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2905 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2906_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(242, 242, 242, 1);
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2906 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:87px;
  width:375px;
  height:44px;
  display:flex;
}
#u2906 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2906_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2907_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:15px;
}
#u2907 {
  border-width:0px;
  position:absolute;
  left:540px;
  top:102px;
  width:9px;
  height:15px;
  display:flex;
}
#u2907 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2907_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2908_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2908 {
  border-width:0px;
  position:absolute;
  left:646px;
  top:97px;
  width:133px;
  height:25px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:18px;
  text-align:center;
}
#u2908 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2908_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u2909 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2910_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-left:0px;
  border-top:0px;
  border-right:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u2910 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:836px;
  width:29px;
  height:80px;
  display:flex;
  font-family:'微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u2910 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2910_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2911_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u2911 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:30px;
  width:433px;
  height:62px;
  display:flex;
}
#u2911 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2911_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2912_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u2912 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:92px;
  width:30px;
  height:803px;
  display:flex;
}
#u2912 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2912_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2913_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u2913 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:836px;
  width:373px;
  height:59px;
  display:flex;
}
#u2913 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2913_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2914_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u2914 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:92px;
  width:30px;
  height:803px;
  display:flex;
}
#u2914 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2914_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:7px;
  background:inherit;
  background-color:rgba(153, 153, 153, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u2915 {
  border-width:0px;
  position:absolute;
  left:613px;
  top:855px;
  width:200px;
  height:7px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u2915 .text {
  position:absolute;
  align-self:center;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u2915_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2916_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:44px;
}
#u2916 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:59px;
  width:374px;
  height:44px;
  display:flex;
}
#u2916 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2916_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
