body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-496px;
  width:433px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:815px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u168 {
  border-width:0px;
  position:absolute;
  left:524px;
  top:58px;
  width:375px;
  height:815px;
  display:flex;
}
#u168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u169 {
  border-width:0px;
  position:absolute;
  left:537px;
  top:109px;
  width:32px;
  height:32px;
  display:flex;
}
#u169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:44px;
}
#u170 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:59px;
  width:374px;
  height:44px;
  display:flex;
}
#u170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u171 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u172 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:33px;
  width:433px;
  height:62px;
  display:flex;
}
#u172 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u173 {
  border-width:0px;
  position:absolute;
  left:496px;
  top:95px;
  width:30px;
  height:803px;
  display:flex;
}
#u173 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u174 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:839px;
  width:373px;
  height:59px;
  display:flex;
}
#u174 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u175 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:95px;
  width:30px;
  height:803px;
  display:flex;
}
#u175 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:5px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  border:none;
  border-radius:32px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u176 {
  border-width:0px;
  position:absolute;
  left:645px;
  top:857px;
  width:134px;
  height:5px;
  display:flex;
}
#u176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:529px;
  top:150px;
  width:375px;
  height:1px;
  display:flex;
}
#u177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u178_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:99px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#30404F;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:174px;
  width:295px;
  height:99px;
  display:flex;
  font-family:'OpenSans-Bold', 'Open Sans Bold', 'Open Sans', sans-serif;
  font-weight:700;
  font-style:normal;
  color:#30404F;
}
#u178 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u178_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(60, 60, 60, 0.388235294117647);
}
#u179 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:280px;
  width:339px;
  height:28px;
  display:flex;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(60, 60, 60, 0.388235294117647);
}
#u179 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:195px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:330px;
  width:375px;
  height:195px;
  display:flex;
}
#u181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
.u183 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
.u184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:76px;
}
.u184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-1px;
  width:343px;
  height:76px;
  display:flex;
  color:#333333;
  text-align:left;
  line-height:20px;
}
.u184 .text {
  position:absolute;
  align-self:center;
  padding:0px 20px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u184_img.mouseDown {
}
.u184.mouseDown {
}
.u184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:295px;
  height:14px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
.u185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:37px;
  width:295px;
  height:14px;
  display:flex;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
.u185 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
.u186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#69707F;
}
.u186 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:46px;
  height:21px;
  display:flex;
  font-family:'ArialMT', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#69707F;
}
.u186 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
.u186_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
.u187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
.u187 {
  border-width:0px;
  position:absolute;
  left:312px;
  top:29px;
  width:16px;
  height:16px;
  display:flex;
}
.u187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
.u187_img.selected {
}
.u187.selected {
}
.u187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u182-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:75px;
}
#u182-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:75px;
  width:343px;
  height:75px;
}
#u182-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:343px;
  height:75px;
}
#u182-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:225px;
  width:343px;
  height:75px;
}
#u182-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:343px;
  height:75px;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:330px;
  width:343px;
  height:375px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:48px;
  background:inherit;
  background-color:rgba(88, 93, 224, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(255, 255, 255, 1);
  border-radius:20px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:547px;
  top:750px;
  width:328px;
  height:48px;
  display:flex;
  font-size:16px;
  color:#FFFFFF;
}
#u188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
